---
import BaseLayout from './BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
export interface Props {
  entry: CollectionEntry<'posts'>;
}
const { entry } = Astro.props;
---
<BaseLayout>
  <article>
    <h1>{entry.data.title}</h1>
    <p><small>{new Date(entry.data.date).toLocaleDateString('ko-KR')}</small></p>
    <hr />
    <div set:html={entry.body} />
  </article>
</BaseLayout>
